<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RepairRabbit - Quickbooks Integration</title>
    <meta name="description" content="RepairRabbit - Quickbooks Integration"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Montserrat|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div class="container d_f a_i_c j_c_c connected">
      <div class="main">
        <div class="header text-center mb-20">
          <img src="rr.png" alt="integration with quickbook">
        </div>
        <div class="hwci">
          <div>
            <h2 class="text-center mb-20">Connected!</h2>
            <p class="mb-20 text-center">Would you like to import customers from Quickbooks to RepairRabbit?</p>
          </div>
          <div class="text-center">
            <button class="btn btn-dark-green" onclick="apiCall()">Import Customers</button>
          </div>
        </div>
        <div class="text-center loader mt-20">
          <img src="loader.gif">
        </div>
        <div class="customers hide">
          <div class="d_f a_i_c j_c_s_b">
            <h2 class="mt-20">Customers Data Imported!</h2>
            <a href="/connected"><button class="btn btn-dark-green">+ Import Customers</button></a>
          </div>
          <div class="tabel-responsive">
            <table class="mt-20">
              <thead>
                <tr>
                  <th class="text-left">Name</th>
                  <th class="text-left">Email</th>
                  <th class="text-center">Status</th>
                  <th class="text-left">Response</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <div class="somethingWentWrong text-center hide mt-20">
          <h3>Something went wrong <a href="/connected">Please Try Again</a></h3>
        </div>
        <div class="footer text-center mt-20">© All rights reserved RepairRabbit</div>
      </div>
    </div>
    <!--  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--  -->
    <script>
      if(window.opener) {
        window.opener.location.href = '/connected';
        window.close();
      }
      function convertIntoArray(data) {
        const array = [];
        for (var k in data) {
          if (data.hasOwnProperty(k)) {
            array.push({
              key: k,
              value: data[k]
            });
          }
        }
        return array;
      }
      function isArray(a) {
        return !!a && a.constructor === Array;
      }
      function messages(messages) {
        let messagesList = messages;
        if (typeof messagesList === 'string') {
          return messagesList;
        }
        if (!isArray(messagesList)) {
          messagesList = convertIntoArray(messagesList);
        }
        let list = "";
        $.each(messagesList,function(key, message){
          list += "<div><strong>"+message.key+": </strong>"+ message.value[0]+"</div>";
        });
        return list;
      }
      function apiCall() {
        $(".customers").hide();
        $(".loader").show();
        $.ajax({
          type: 'get',
          url: '/customers/import',
          success: function(response) {
            console.log(response, response.data);
            const customers = response.data;
            $(".loader").css("display", "none");
            $.each(customers,function(k,v){
              $('.customers tbody').append(`<tr class="`+ (v.reason ? "bk-red" : "bk-green") +`">
                <td class="text-left">` + v.name +` </td>
                <td class="text-left">` + (v.email ? v.email : '-') + `</td>
                <td class="text-center">` + (v.reason ? 'Failure' : 'Success') + `</td>
                <td class="text-left">` + messages(v.reason) + `</td>
                </tr>`
              );
            });
            $(".customers").show();
            $(".hwci").hide();
          },
          error: function(error) {
            $(".loader").css("display", "none");
            $(".somethingWentWrong").show();
            $(".hwci").hide();
          }
        });
      }
    </script>
  </body>
</html>
