<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RepairRabbit - Quickbooks Integration</title>
    <meta name="description" content="RepairRabbit - Quickbooks Integration"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Montserrat|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <div class="container d_f a_i_c j_c_c">
      <div class="main">
        <div class="header text-center mb-20">
          <img src="rr.png" alt="integration with quickbook">
        </div>
        <div>
          <h2 class="text-center mb-20">Import data from QuickBook</h2>
          <p class="mb-10">Before using this app, please make sure you do the following:</p>
          <ul>
            <li>
              Update config.json with your Client ID and Client Secret (found on
              <a href="https://developer.intuit.com">developer.intuit.com</a>
              )
            </li>
            <li>
              In <a href="https://developer.intuit.com">developer.intuit.com</a>,
              add an allowed Redirect URI to this sample app! (config.json value:
              <a href="<%= redirectUri %>"><%= redirectUri %></a>)
            </li>
          </ul>
        </div>
        <div class="text-center">
          <a href="#" onclick="launchPopup('/connect_to_quickbooks')">
          <button class="btn btn-green"> Connect To QuickBook</button>
          </a>
        </div>
        <div class="footer text-center mt-20">© All rights reserved RepairRabbit</div>
      </div>
    </div>
    <script>
      function launchPopup(path) {
        var win;
        var checkConnect;
        var parameters = "location=1,width=800,height=650";
        parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;
        win = window.open(path, 'connectPopup', parameters);
      }
    </script>
  </body>
</html>
